.head {
    position: relative;
    top: 0;
    left: 0;
  }
.background-head
  {
    position: relative;
    top: 0;
    left: 0;
    
  }
.foreground-head {
    position: absolute;
    top: 50px;
    left: 400px;
    
  }
.head-link{
    position: absolute;
    top: 300px;
    left: 470px; 
  }
.head-link a{
    text-decoration: none;
    color: black;
    font-size: 30px;
  }
  .head-button{
    height: 40px;
    width: auto;
    border: 0px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 3px 3px 5px #0000003f;
    position: absolute;
    top: 360px;
    left: 570px;
    transition: 0.2s ease;
  }
  .head-button:hover{
    box-shadow: 3px 3px 5px #00000085;
    transition: 0.2s ease;
  }