body {
  margin: 0px;
}
.head-container {
  position: relative;
  text-align: center;
}

.head-links a{
  text-decoration: none;
  color: black;
  font-size: 1.75vw;
  
}
.head-links b{
  font-size: 1.60vw;
}
.head-links{
  position: absolute;
  bottom: 7vw;
  left: 24vw;
}
.head-button{
  position: absolute;
  bottom: 3vw;
  left: 27.5vw;
}
.head-button button{
  height: 3.75vw;
  width: 14vw;
  font-size: 1vw;
  text-align: center;
  padding: 0.5vw;
  border-radius: 1vw;
  box-shadow: 1px 3px 6px #70707046;
  border-width: 0.1vw;
  border-color: #70707069;
  transition: 0.25s ease;
}
.head-button button:hover{
  box-shadow: 1px 3px 6px #707070a8;
  transition: 0.25s ease;
}
.head-button img, span{
  vertical-align: middle;
}
