body {
  margin: 0px;
}
.head-container {
  position: relative;
  text-align: center;
}
.head-img{
  margin-bottom:-4px ;
}
.head-links a {
  text-decoration: none;
  color: black;
  font-size: 1.75vw;
}
.head-links b {
  font-size: 1.6vw;
}
.head-links {
  position: absolute;
  bottom: 7vw;
  left: 24vw;
}
.head-button {
  position: absolute;
  bottom: 3vw;
  left: 27.5vw;
}
.head-button button {
  height: 3.75vw;
  width: 14vw;
  font-size: 1vw;
  text-align: center;
  padding: 0.5vw;
  border-radius: 1vw;
  box-shadow: 1px 3px 6px #70707046;
  border-width: 0.1vw;
  border-color: #70707069;
  transition: 0.25s ease;
}
.head-button button:hover {
  box-shadow: 1px 3px 6px #707070a8;
  transition: 0.25s ease;
}
.head-button img,
span {
  vertical-align: middle;
}

.navbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  font-size: 1.1vw;
  display: inline-block;
  padding-top:20px;
  padding-bottom: 20px;
  transition: 0.2s ease;
}
.navbar a:hover{
  background-color: #FF8382;
  transition: 0.2s ease;
}
.navbar a:hover img{
  filter: brightness(200%);
}
.navbar a:hover span{
  filter: invert(200%);
}
.navbar span{
  display:block;
}
.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  background-color: #ffffff;
  box-shadow: 0px 2px 50px -3px #ff828252;
}
